ul{
    padding: 0;
    list-style: none; 
}
.footer-logo h2{
padding: 2rem;
/* margin: 2rem; */
font-size: 3rem;


}
/* footer main logo */
.footer-logo  ul{
    text-align: center;
}
/* footer social icons 2x */
.footer-icons{
    display: flex;
    justify-content: space-around;
}

.footer-logo ul li{
    padding: 0.5rem;
}
.container-fluid{
    background-color: rgb(232, 231, 227);
    padding:4rem;
}
