ul{
    padding: 0;
    list-style: none; 
}
.footer-logo h2{
padding: 2rem;
/* margin: 2rem; */
font-size: 3rem;


}
.footer-logo  ul{
    text-align: center;

}
.container-fluid{
    background-color: rgb(232, 231, 227);
    padding:3rem;
}
.container-fluid ul{
    display: flex;
    
}