.footer{
    background-color: #f6f6f8;
    padding-top: 80px;
    padding-bottom: 70px;
}
.icons-footer-1{
    padding-left: 0;
}
.icon{
    padding-right: 8px;
    box-sizing: none;
}
ul{
    
    list-style: none;
}
li{
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
    font-size: 14px;
    color: #878787;
}
b{
    color: black;
    font-size: 16px;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
}
img{
    padding-bottom: 10px;
}
