.slider{
    max-width: 100%;
    height: 600%;
}
.btn-slider{
    max-width: 15em;
    border-radius: 2em;
    background-color: transparent;
    color: black;
    border-color: black;
}
.items .btn{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 0%;
}
.items .btn:hover{
    background-color: rgb(3, 201, 215);
}

.img-items{
    display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
.img-items:hover{
    -ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}
.btn-items{
    height: 50px;
    width: 150px;
    font-family: 'Poppins';
    font-weight: 600;
}

.col-model{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.img-model{
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.img-model:hover{
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
.bottom{
    position: absolute;
    bottom: 40px;
    left: 30px;
    color: white;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
}
.bottom h6{
    color: black;
    font-weight: 600;
}
.bottom h1{
    color: black;
    font-weight: 600;
}
.bottom p{
    color: black;
}
.bottom-1{
    position: absolute;
    bottom: 40%;
    left: 90px;
    color: white;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
}
.bottom-1 h6{
    font-weight: 600;

    color: black;
}
.bottom-1 h1{
    font-weight: 600;
    color: black;
}
.btn-bottom-1{
    font-weight: 600;
    color: black;
    width: 130px;
    border-radius: 20px;
    background-color: transparent;
    border-width: 2px;
    border-color: black;
}

.heading{
    text-align: center;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
}
.col-trending-item{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.trending-items{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
}
.img-trending-items{
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.img-trending-items:hover{
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.col-product{  
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.btn-product{
    width: 20rem;
    margin: 1%;
    background-color: transparent;
    color: black;
    border-color: black;
    border-radius: 20px;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
    font-size: 14px;
    font-weight: 600;
}
.product{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
}
.img-product{
    display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
.img-product:hover{
    -ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}
.col-blog{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 1em;
}
.blog{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.col-social{
    display: flex;
    justify-content: center;
}
.img-blog{
    display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
.img-blog:hover{
    -ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}
.img-social-items{
    height: 212px;
    width: 212px;
}
.col-about{
    display: flex;
    justify-content: center;
}
p{
    color: #676767;
}

.main-items-col{
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
} 

.items {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.model{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.img-items{
    padding: 0;
    width: 100%;
    height: 100%;

}
.img-model{
    padding: 0;
    width: 100%;
    height: 100%;
}
.img-trending-items{
    padding: 0;
    width: 100%;
    height: 100%;
}
.img-product{
    padding: 0;
    width: 100%;
    height: 100%;
}
.img-blog{
    padding: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 991px) {
.items{
    width: 30vw;
    height: 30vw;
    margin-top: 15px;
}
}
@media only screen and (min-width: 991px) {
    .model{
        width: 30vw;
        height: 30vw;
        margin-top: 15px;
    }
    }
@media only screen and (min-width: 991px) {
    .trending-items{
            width: 30vw;
            height: 30vw;
            margin-top: 15px;
        }
        }
@media only screen and (min-width: 991px) {
    .product{
        width: 30vw;
        height: 30vw;
        margin-top: 15px;
            }
            }
@media only screen and (min-width: 991px) {
    .blog{
        width: 30vw;
        height: 30vw;
        margin-top: 15px;
    }
}
