.slider{
    max-width: 100%;
    height: 600%;
}
.carousel-caption-1{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.carousel-caption-2{
    font-size: 40px;
    font-weight: 650;
    color: black;
}
.img-carousel{
    height: 600%;
    max-width: 100%;
}
.btn-slider{
    max-width: 15%;
    background-color: transparent;
    color: black;
    border-color: black;
}
.btn-items{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 0%;
}
.items .btn:hover{
    background-color: rgb(3, 201, 215);
}
.col-item{
    display: flex;
    justify-content: center;
}
.card-item{
    margin-top: 1em;
    margin-bottom: 3em;
    border: none;
    border-radius:0%;
    overflow: hidden;
}
.img-items{
    display: flex;
    justify-content: center;
    height: 20em;
    width: 18em;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
.img-items:hover{
    -ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}
.btn-items{
    height: 50px;
    width: 150px;
    font-family: 'Poppins';
    font-weight: 600;
}

.col-model{
    
    margin-top: 1em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
}
.card-model{
    height: 494px;
    width: 370px;
    border: none;
    overflow:hidden;
}
.img-model{
    display:flex;
    justify-content: center;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.img-model:hover{
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
.bottom{
    position: absolute;
    bottom: 40px;
    left: 30px;
    color: white;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
}
.bottom h6{
    color: black;
    font-weight: 600;
}
.bottom h1{
    color: black;
    font-weight: 600;
}
.bottom p{
    color: black;
}
.bottom-1{
    position: absolute;
    bottom: 40%;
    left: 90px;
    color: white;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
}
.bottom-1 h6{
    font-weight: 600;

    color: black;
}
.bottom-1 h1{
    font-weight: 600;
    color: black;
}
.btn-bottom-1{
    font-weight: 600;
    color: black;
    width: 130px;
    border-radius: 20px;
    background-color: transparent;
    border-width: 2px;
    border-color: black;
}

.heading{
    text-align: center;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
}
.col-trending-item{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
.trending-items{
    border: none;
    height: 474px;
    width: 263px;
    margin: 10px;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}
.img-trending-items{
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.img-trending-items:hover{
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
.btn-trending{
    width: 50px;
    height: 2em;
    border-radius: 20px;
    background-color: transparent;
    margin: 2px;
    color: black;
    border-color: black;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
    font-size: 12px;
}

.row-product{
    display: flex;
    justify-content: center;
}
.btn-product{
    width: 20rem;
    margin: 1%;
    background-color: transparent;
    color: black;
    border-color: black;
    border-radius: 20px;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
    font-size: 14px;
    font-weight: 600;
}
.col-product{
    display: flex;
    justify-content: center;
}
.product{
    height: 426px;
    width: 270px;
    border: none;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
    font-weight: 600;
    overflow:hidden;
}
.img-product{
    display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
.img-product:hover{
    -ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}
.col-blog{
    display: flex;
    justify-content: space-evenly;

}
.blog{
    height: 370px;
    width: 368px;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
    border: none;
    font-weight: 600;
overflow:hidden;
}
.img-blog{
    display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
.img-blog:hover{
    -ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}
.col-social{
    display: flex;
    justify-content: center;
}
.img-social-items{
    height: 212px;
    width: 212px;
}

p{
    color: #676767;
}