.header{
    padding-top: 8px;
    background-color: #EADFDD;
    display: flex;
    height: 40px;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue';
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
}
.lbl-header-1{
    padding-left: 8px;
    padding-right: 10px;
    color: #676767;
}
.header-2{
    margin-left: 15%;
    color: #676767;
}
.navbar{
    display: flex;
}
.nav-pages{
    margin-left: 60%;
}
.nav-icons-2{
    margin-left: 32em;
}